.side-bar-font-size {
  font-size: 20px;
  margin-left: 20px;
}
.menu_section {
  margin-bottom: 70px;
  margin-top: 70px;
}
img_logo {
  background-color: white !important;
  vertical-align: middle;
  border-style: none;
}
a {
  color: white;
}
i {
  color: white;
  margin-right: 5px;
}
a:hover {
  color:orange;
}
.side_bar_bg {
  background-color: #7FAD39 ;
}
.black_text {
  background-color: rgb(150, 241, 163);
}
.footer_bg {
  background-color: #EDEDED;
  margin-left: 0;
}
