@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.my-font {
  font-family: 'Patrick Hand', cursive;
}
hr.style5 {
  margin-top: 10px;
  border-top: 2px dashed;
}
.text-end{
  text-align: end;
}
.text-start{
  text-align: start;
}

.td-name{
  width: 30%;
}
.td-quantity{
  width: 20%;
}
