<% provide :title, t(".products") %>
<% provide :product_title, t(".all_products") %>
<section class="hero">
  <div class="container">
    <%= render "layouts/all_products" %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</section>
